/* Config Button */

#config-button {
  position: fixed;
  top: 320px;
  right: 0;
}

#add-item-button {
  position: fixed;
  top: 275px;
  right: 0;
}

.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Config Modal */

.string {
  color: yellowgreen;
}

.number {
  color: firebrick;
}

.boolean {
  color: cyan;
}

.null {
  color: grey;
}

.key {
  color: magenta;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 480px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: 0;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.badge {
  margin: 5px;
}

/* Overview Cards */

.border-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Grid */

.grid {
  position: relative;
  margin: 0 -10px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.muuri-item {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 10px;
  z-index: 6;
  will-change: transform;
}

.muuri-item.hidden {
  visibility: hidden;
}

.muuri-item.muuri-item-positioning {
  z-index: 2;
}

.muuri-item.muuri-item-dragging,
.muuri-item.muuri-item-releasing {
  z-index: 9999;
}

.muuri-item.muuri-item-dragging {
  cursor: move;
}

.muuri-item.muuri-item-hidden {
  z-index: 0;
}

.muuri-item.h1 {
  height: 150px;
  line-height: 150px;
}

.muuri-item.w1 {
  width: 150px;
}

.muuri-item.h2 {
  height: 320px;
  line-height: 320px;
}

.muuri-item.w2 {
  width: 320px;
}

.muuri-item.h3 {
  height: 490px;
  line-height: 490px;
}

.muuri-item.w3 {
  width: 490px;
}

.muuri-item.h4 {
  height: 660px;
  line-height: 660px;
}

.muuri-item.w4 {
  width: 660px;
}

.muuri-item.h5 {
  height: 830px;
  line-height: 830px;
}

.muuri-item.w5 {
  width: 830px;
}

.muuri-item-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.5px solid;
  color: #333;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 8;
}

.plugin-card-id {
  position: absolute;
  left: 7px;
  top: 0;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 9px;
  font-weight: 300;
  z-index: 10;
}

.plugin-card-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.plugin-remove {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  z-index: 10;
}

.card:hover > .plugin-remove {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Icons in the selector */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Material icons */

.icon {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  font-size: inherit;
}

/* Range Slider (Modal) */

.range-slider {
  width: 100%;
}

.range-slider-range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider-range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider-range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}

.range-slider-range:active::-webkit-slider-thumb {
  background: #1abc9c;
}

.range-slider-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider-range::-moz-range-thumb:hover {
  background: #1abc9c;
}

.range-slider-range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider-value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider-value::after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

/* Color input */

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
